<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>HTML Tutorial</h1>
        <p>
            The word hypertext markup language is composed of the words “hypertext”
            and “markup language”. The term "hypertext" refers to the linking of
            text with other documents and “markup language” refers to a language
            that uses a set of tags.
        </p>

        <p>
            The word hypertext markup language is composed of the words “hypertext”
            and “markup language”. The term "hypertext" refers to the linking of
            text with other documents and “markup language” refers to a language
            that uses a set of tags.
        </p>

        <p>
            The word hypertext markup language is composed of the words “hypertext”
            and “markup language”. The term "hypertext" refers to the linking of
            text with other documents and “markup language” refers to a language
            that uses a set of tags.
        </p>

        <p>
            The word hypertext markup language is composed of the words “hypertext”
            and “markup language”. The term "hypertext" refers to the linking of
            text with other documents and “markup language” refers to a language
            that uses a set of tags.
        </p>

        <p>
            The word hypertext markup language is composed of the words “hypertext”
            and “markup language”. The term "hypertext" refers to the linking of
            text with other documents and “markup language” refers to a language
            that uses a set of tags.
        </p>

        <p>
            The word hypertext markup language is composed of the words “hypertext”
            and “markup language”. The term "hypertext" refers to the linking of
            text with other documents and “markup language” refers to a language
            that uses a set of tags.
        </p>
        <p>
            The word hypertext markup language is composed of the words “hypertext”
            and “markup language”. The term "hypertext" refers to the linking of
            text with other documents and “markup language” refers to a language
            that uses a set of tags.
        </p>

    </div>
    <div class="hero-bg"></div>
</section>