.page-layout {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-columns: 3fr 1fr;
    // gap: 2rem;
    // padding: 2rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.main-content {
    background-color: var(--secondary-background);
    padding: 1rem 2rem;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

}