<app-menu-card></app-menu-card>

<div class="page-layout">
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>

    <aside class="sidebar">
        <!-- <h4>On this page</h4> -->
        <h4>On this Company page</h4>
        <ul>
            <li><a routerLink="/about">About us</a></li>
            <li><a routerLink="/contact">Contact us</a></li>
            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
            <li><a routerLink="/pricing-policy">Pricing Policy</a></li>
            <li>
                <a routerLink="/terms-and-conditions">Terms & Conditions</a>
            </li>
            <li><a routerLink="/donate">Donate 💵</a></li>
        </ul>
    </aside>
</div>

<app-footer-card></app-footer-card>