.app-layout {
  width: 100%;
  display: flex;
  min-height: 100vh;

  .main-layout {
    flex: 1;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;

    &.sidebar-collapsed {
      margin-left: 0px;
    }

    app-admin-header {
      position: sticky; /* or fixed */
      top: 0;
      z-index: 100; /* make sure it stays above content */
      background: #fff; /* avoid transparency */
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    .main-content {
      flex: 1;
      background: #f9fafb;
      overflow-y: auto;
    }
  }
}

@media (max-width: 1024px) {
  .app-layout .main-layout {
    margin-left: 0;

    &.sidebar-collapsed {
      margin-left: 0;
    }
  }
}
