.app-layout {
  width: 100%;
  display: flex;
  min-height: 100vh;

  .main-layout {
    flex: 1;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
    margin-top: 64px;

    &.sidebar-collapsed {
      margin-left: 0px;
    }

    .main-content {
      flex: 1;
      background: #f9fafb;
      overflow-y: auto;
    }
  }
}

@media (max-width: 1024px) {
  .app-layout .main-layout {
    margin-left: 0;

    &.sidebar-collapsed {
      margin-left: 0;
    }
  }
}
