<div class="contact-wrapper">
    <h2 class="title">Let's Connect</h2>
    <p class="desc">Need help with web development or tech tools? Feel free to reach out!</p>

    <div class="form-card">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-section">
            <h3>Send a Message</h3>

            <label for="name">Name<span style="color: red;">*</span></label>
            <input id="name" formControlName="name" type="text" />
            <div class="error" *ngIf="submitted && contactForm.get('name')?.invalid">
                Name is required.
            </div>

            <label for="email">Email<span style="color: red;">*</span></label>
            <input id="email" formControlName="email" type="email" />
            <div *ngIf="submitted && contactForm.get('email')?.errors as errors">
                <div *ngIf="errors['required']">Email is required.</div>
                <div *ngIf="errors['email']">Invalid email format.</div>
            </div>

            <label for="subject">Subject<span style="color: red;">*</span></label>
            <input id="subject" formControlName="subject" type="text" />
            <div class="error" *ngIf="submitted && contactForm.get('subject')?.invalid">
                Subject is required.
            </div>

            <label for="message">Message<span style="color: red;">*</span></label>
            <textarea id="message" formControlName="message" rows="5"></textarea>
            <div class="error" *ngIf="submitted && contactForm.get('message')?.invalid">
                Message is required.
            </div>

            <button type="submit">Send Message</button>
        </form>

        <!-- Side Info -->
        <div class="info-section">
            <h3>Get in Touch</h3>
            <div class="info-box">
                <strong>Email:</strong>
                <span>info&#64;satendracoder.com</span>
            </div>
            <!-- <div class="info-box">
                <strong>Discord:</strong>
                <span>benny2023</span>
            </div> -->

            <h3>Follow My Work</h3>
            <div class="social-icons">
                <i class="fab fa-github" title="Github">
                    <a href="https://github.com/satendracoder" target="_blank"><img
                            src="/assets/icons/social/github.svg" alt="Github"></a>
                </i>
                <i class="fab fa-linkedin" title="Linkedin">
                    <a href="https://www.linkedin.com/in/satendracoder" target="_blank"> <img
                            src="/assets/icons/social/linkedin.svg" alt="Linkedin"></a>
                </i>
                <i class="fab fa-instagram" title="Instagram">
                    <a href="https://www.instagram.com/satendracoder1" target="_blank"> <img
                            src="/assets/icons/social/instagram.svg" alt="Instagram"></a>
                </i>
                <i class="fab fa-youtube" title="Youtube">
                    <a href="https://www.youtube.com/@satendracoder" target="_blank"><img
                            src="/assets/icons/social/youtube.svg" alt="Youtube"></a>
                </i>
            </div>



            <div class="availability">
                <h3>(Map) Address:</h3>
                <p>Nagla Sidar, Shekhput Khurd, Mahdawa, Maheshpur, Uttar Pradesh 207123</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.286982111436!2d78.68695720000001!3d27.749075099999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39751fa638b3aca5%3A0xdb2caea2b45f77be!2sSatendra%20Coder!5e1!3m2!1sen!2sin!4v1754138202463!5m2!1sen!2sin"
                    width="100%" height="200" style="border:0;border-radius:10px ;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>