.footer {
    background: linear-gradient(to bottom, #0e1525, #1d1f5d);
    color: #fff;
    padding: 20px 20px;
    font-family: 'Arial', sans-serif;

    .footer-top {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 20px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        .footer-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
        }

        .logo-section {
            flex: 1 1 auto;

            @media screen and (max-width: 768px) {
                width: auto;
            }

            p {
                width: 350px;
            }

            .logo {
                max-width: 180px;
            }
        }

        .footer-links {
            display: flex;
            flex: 3 1 auto;
            flex-wrap: wrap;
            gap: 40px;

            .footer-column {
                min-width: 120px;

                h4 {
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: #ffffff;
                }

                a {
                    display: block;
                    margin-bottom: 8px;
                    font-size: 14px;
                    color: #b0b0b0;
                    text-decoration: none;
                    transition: color 0.3s;

                    &:hover {
                        color: #f97316;
                    }
                }
            }
        }
    }


    .social-icons {
        position: relative;
        bottom: 0;
        right: 0;
        display: flex;
        gap: 15px;
        justify-content: flex-end;

        @media screen and (max-width: 768px) {
            justify-content: center;
            margin: 10px auto;
            gap: 15px;
        }

        a img {
            width: 24px;
            height: 24px;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .footer-divider {
        width: 100%;
        height: 1px;
        background-color: #3a3a3a;
        margin: 20px 0 20px;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 14px;

        .left-text {
            color: #b0b0b0;
            margin-bottom: 10px;
        }

        .right-links {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            a {
                color: #b0b0b0;
                text-decoration: none;
                font-size: 13px;

                &:hover {
                    color: #f97316;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .footer-top {
            .footer-content {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .social-icons {
                position: static;
                margin-top: 20px;
                justify-content: center;
            }
        }

        .footer-bottom {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;
        }
    }
}





.fixed-button {
    position: fixed;
    bottom: 10%;
    right: 20px;
    z-index: 999;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media screen and (max-width: 768px) {
        right: 10%;
        bottom: 18%;
    }
}

.theme-button {
    display: flex;
    justify-content: stretch;
    align-items: center;
    background: var(--text-color);
    color: var(--background-color);
    padding: 4px;
    text-decoration: none;
    border-radius: 45px;
    font-size: 14px;
    font-family: "mypoppinsRegular";
    font-weight: bold;
    letter-spacing: 1px;
    gap: 6px;
    cursor: pointer !important;

    svg {
        margin-right: 10px;
        /* Space between icon and text */
        font-size: 18px;
        /* Adjust icon size if needed */

        &:hover {
            opacity: 0.8;
        }
    }
}


// What link 
.fixed-button_whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;

    .whatsapp-button {
        display: flex;
        justify-content: stretch;
        align-items: center;
        background-color: #26a69a;
        color: white;
        padding: 6px 20px;
        text-decoration: none;
        border-radius: 25px;
        font-size: 16px;
        font-family: "mypoppinsRegular";
        font-weight: bold;
        letter-spacing: 1px;

        i {
            margin-right: 10px;
            /* Space between icon and text */
            font-size: 18px;
            /* Adjust icon size if needed */
        }

        &:hover {
            opacity: 0.8;
        }
    }
}