.contact-page {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background-color: #f0f0f0;
    background-image: radial-gradient(at 17% 0%, #f0f0f0 0, transparent 50%),
        radial-gradient(at 98% 1%, #f0f0f0 0, transparent 50%),
        radial-gradient(at 33% 87%, #f0f0f0 0, transparent 50%),
        radial-gradient(at 65% 86%, #f0f0f0 0, transparent 50%),
        radial-gradient(at 61% 21%, #f0f0f0 0, transparent 50%),
        radial-gradient(at 36% 1%, #f0f0f0 0, transparent 50%),
        radial-gradient(at 31% 31%, rgba(105, 82, 255, 0.8) 0, transparent 50%),
        radial-gradient(at 42% 32%, #9d8ff5 0, transparent 50%),
        radial-gradient(at 0% 1%, #f0f0f0 0, transparent 50%),
        radial-gradient(at 10% 66%, #f0f0f0 0, transparent 50%),
        radial-gradient(at 64% 56%, #30e8bd 0, transparent 50%),
        radial-gradient(at 68% 46%, #54bbbb 0, transparent 50%),
        radial-gradient(at 99% 98%, #f0f0f0 0, transparent 50%),
        radial-gradient(at 67% 59%, #75dfff 0, transparent 50%);

    .close {
        position: absolute;
        top: 10px;
        right: 80px;
        font-size: 35px;
        background: none;
        border: none;
        cursor: pointer;
        color: #333;

        &:hover {
            color: #26a69a;
        }
    }

    .contact-container {
        display: flex;
        gap: 0px;
        max-width: 1000px;
        height: 100%;
        margin: 0px auto;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: flex-end;
        padding-top: 10px;

        @media screen and (max-width: 786px) {
            display: flex;
            flex-direction: column;
        }

        .left-profile {
            flex: 0 0 40%;
            display: flex;
            justify-content: center;

            .profile-card {
                background: transparent;
                padding: 10px;
                text-align: center;
                max-width: 100%;
                width: 100%;
                color: #201e1e;

                .profile-img {
                    width: 150px;
                    height: 150px;
                    border-radius: 10%;
                    object-fit: cover;
                    margin-bottom: 0px;
                    transform: skewY(10deg);
                }

                h2 {
                    font-size: 22px;
                    margin: 10px 0 5px;
                }

                .subtitle {
                    font-size: 14px;
                    color: #555;
                    margin-bottom: 5px;
                }

                .socials {
                    margin-bottom: 10px;

                    a {
                        margin: 0 6px;
                        font-size: 20px;
                        text-decoration: none;
                    }
                }

                .highlights {
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 20px;
                    margin-top: 20px;

                    li {
                        font-size: 14px;
                        text-align: left;
                        margin: 5px 0;
                    }
                }

                .note {
                    font-size: 13px;
                    color: #444;
                }
            }
        }

        .right-form {
            flex: 0 0 50%;
            display: flex;
            justify-content: center;

            .form-card {
                background: #201e1e;
                color: #f0ebeb;
                padding: 10px 30px;
                border-radius: 10px;
                max-width: 500px;
                width: 100%;
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

                h2 {
                    font-size: 22px;
                    margin-bottom: 0px;
                }

                p {
                    font-size: 14px;
                    color: #f7f5f5;
                    margin-bottom: 10px;
                }

                .error {
                    color: #ff6b6b;
                    font-size: 12px;
                    margin-top: 4px;
                    display: block;
                }


                .form-group {
                    margin-bottom: 20px;

                    label {
                        display: block;
                        font-weight: 500;
                        margin-bottom: 6px;
                    }

                    input,
                    textarea {
                        width: 100%;
                        padding: 10px;
                        font-size: 14px;
                        border-radius: 6px;
                        border: 1px solid #ccc;
                        background-color: #201f21;
                        color: #f0ebeb;

                        &:focus {
                            outline: 1.5px dotted #26a69a;
                            border-color: #26a69a;
                        }
                    }
                }

                button {
                    width: 100%;
                    padding: 12px;
                    background-color: #26a69a;
                    color: #fff;
                    border: none;
                    border-radius: 6px;
                    font-weight: bold;
                    cursor: pointer;

                    &:disabled {
                        background: #706e6e;
                        cursor: not-allowed;
                    }

                    &:hover:not(:disabled) {
                        background-color: #0f9184e1;
                    }
                }
            }
        }
    }
}