<div class="home-page-wrapper">
    <app-menu-card></app-menu-card>
    <app-banner-card></app-banner-card>
    <app-learning-section></app-learning-section>
    <app-mentorship-card></app-mentorship-card>
    <app-library-extension-card></app-library-extension-card>
    <app-dev-tools-card></app-dev-tools-card>
    <app-latest-blog-card></app-latest-blog-card>
    <app-faq-card></app-faq-card>
    <app-global-contact></app-global-contact>
    <app-footer-card></app-footer-card>
    <!-- 
    <div class="ai-models-container">
        <div class="cards left">
            @for (model of models; track $index) {
            <div [ngClass]="{'card': true, 'left-card': model.side === 'left'}">
                <h3>{{ model.name }}</h3>
                <span class="role">{{ model.role }}</span>
                <p>{{ model.description }}</p>
            </div>
            }

        </div>

        <div class="central-circle">
            <div class="logo">AI</div>
        </div>

        <div class="cards right">
            @for (model of modelsright; track $index) {
            <div [ngClass]="{'card': true, 'right-card': model.side === 'right'}">
                <h3>{{ model.name }}</h3>
                <span class="role">{{ model.role }}</span>
                <p>{{ model.description }}</p>
            </div>
            }

        </div>
    </div> -->

</div>