.wrapper {
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.recommendations {
    padding: 20px 0;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        h2 {
            font-size: 20px;
            font-weight: bold;

            span {
                font-size: 12px;
                font-weight: 400;
            }
        }

        .see-more {
            font-size: 14px;
            color: #1a73e8;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.2s ease;

            &:hover {
                color: #0c47a1;
            }
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;

        .card {
            background-color: var(--secondary-background);
            border-radius: 10px;
            padding: 15px;
            text-align: left;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease;
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-around;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 100%;
                border-radius: 8px;
                margin-bottom: 10px;
                height: 150px;
                object-fit: scale-down;
            }

            h3 {
                font-size: 16px;
                font-weight: 600;
                margin: 5px 0;
            }

            .rating {
                font-size: 14px;
                color: #444;
                margin-bottom: 5px;
            }

            .desc {
                font-size: 13px;
                color: #666;
            }
        }
    }
}

/* Responsive */
@media (max-width: 1024px) {
    .recommendations .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .recommendations .cards {
        grid-template-columns: 1fr;
    }
}