<div class="wrapper">
    <div class="container">
        <h2>Reset Password</h2>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

            <!-- Password -->
            <div class="form-group">
                <label for="password">New Password</label>
                <input id="password" type="password" formControlName="password" />

                @if (resetForm.controls['password'].touched && resetForm.controls['password'].hasError('required')) {
                <small>
                    Password is required
                </small>
                }

                @if (resetForm.controls['password'].touched && resetForm.controls['password'].hasError('minlength')) {
                <small>
                    Minimum 6 characters required
                </small>
                }
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" />

                @if (resetForm.controls['confirmPassword'].touched &&
                resetForm.controls['confirmPassword'].hasError('required')) {
                <small>
                    Confirm Password is required
                </small>
                }

                @if (resetForm.hasError('mismatch') && resetForm.controls['confirmPassword'].touched) {
                <small>
                    Passwords do not match
                </small>
                }

            </div>

            <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
        </form>

        <div class="back-to-login">
            <a routerLink="/auth/login">← Back to Login</a>
        </div>
    </div>
</div>