<div class="qr-container" #qrRef>
    <svg #svgRef [attr.width]="matrix.length * 10" [attr.height]="matrix.length * 10" viewBox="0 0 210 210"
        xmlns="http://www.w3.org/2000/svg" [style.border]="'5px solid ' + theme.borderColor"
        [style.borderRadius]="theme.borderRadius">
        <ng-container *ngFor="let row of matrix; let y = index">
            <ng-container *ngFor="let col of row; let x = index">
                <rect *ngIf="matrix[y][x] === 1" [attr.x]="x * 10" [attr.y]="y * 10" width="10" height="10"
                    [attr.rx]="theme.cellShape === 'circle' ? 5 : 0" [attr.ry]="theme.cellShape === 'circle' ? 5 : 0"
                    [attr.fill]="theme.darkColor" />
            </ng-container>
        </ng-container>

        <image *ngIf="logoUrl" [attr.href]="logoUrl" x="80" y="80" width="50" height="50"
            clip-path="circle(25px at center)"></image>
    </svg>

    <p *ngIf="textUnder" class="qr-text">{{ textUnder }}</p>

    <div class="actions">
        <button (click)="downloadPNG()">Export PNG</button>
        <button (click)="downloadSVG()">Export SVG</button>
    </div>
</div>