<section>
    <div class="contact-strip wrapper">
        <div class="contact-item">
            <div class="icon whatsapp">
                <img src="/assets/icons/social/phone.svg" alt="WhatsApp" />
            </div>
            <div>
                <p>Chat Now</p>
                <strong>(+91) 8859758708</strong>
            </div>
        </div>

        <div class="divider"></div>

        <div class="contact-item">
            <div class="icon email">
                <img src="/assets/icons/social/email.svg" alt="Email" />
            </div>
            <div>
                <p>Email Us</p>
                <strong>info&#64;satendracoder.com</strong>
            </div>
        </div>

        <div class="divider"></div>

        <div class="social-wrap">
            <p>Connect With Us at</p>
            <div class="social-icons">
                <a href="https://github.com/satendracoder" target="_blank">
                    <img src="/assets/icons/social/github.svg" alt="GitHub" />
                </a>
                <a href="https://linkedin.com/in/satendracoder" target="_blank">
                    <img src="/assets/icons/social/linkedin.svg" alt="LinkedIn" />
                </a>
                <a href="https://www.instagram.com/satendracoder1" target="_blank">
                    <img src="/assets/icons/social/instagram.svg" alt="Instagram" />
                </a>
                <a href="https://youtube.com/@satendracoder" target="_blank">
                    <img src="/assets/icons/social/youtube.svg" alt="YouTube" />
                </a>
            </div>
        </div>
    </div>
</section>