<section class="connect-section">
    <button class="contact-btn">
        <span class="icon">📩</span> Contact Us
    </button>

    <h2>Let's Connect & Collaborate</h2>
    <p>
        Have questions, feedback, or partnership ideas? Reach out and our team will
        get back to you soon!
    </p>

    <div class="social-links">
        <a href="mailto:info@satendracoder.com" class="link email">
            <img src="/assets/icons/social/email.svg" alt="Email" />
            info&#64;satendracoder.com
        </a>
        <a href="https://chat.whatsapp.com/I0uUuT4sUY9FnUDexZCLfy" target="_blank" class="link twitter">
            <img src="/assets/icons/social/whatsapp.svg" alt="GitHub" />
            Chat Now
        </a>
        <a href="https://linkedin.com/in/satendracoder" target="_blank" class="link linkedin">
            <img src="/assets/icons/social/linkedin.svg" alt="LinkedIn" />
            LinkedIn
        </a>
        <a href="https://www.instagram.com/satendracoder1" target="_blank" class="link twitter">
            <img src="/assets/icons/social/instagram.svg" alt="Twitter" />
            Instagram
        </a>
        <a href="https://github.com/satendracoder" target="_blank" class="link github">
            <img src="/assets/icons/social/github.svg" alt="GitHub" />
            GitHub
        </a>
        <a href="https://youtube.com/@satendracoder" target="_blank" class="link linkedin">
            <img src="/assets/icons/social/youtube.svg" alt="youtube" />
            GitHub
        </a>
    </div>
</section>