.support-container {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0px;
    background-color: var(--background-color);

    .support-row {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 15px;
        border-radius: 10px;
        background-color: #0cf9e324;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        color: var(--text-color);
        // transform: scale3d(0.9, 0.9, 0.9);
        transition: .5s all ease-in;

        &:hover {
            cursor: pointer;
        }

        .support-card {
            display: flex;
            flex-direction: column;
            gap: 30px;
            animation: slideInLeft 1s ease-out;

            button {
                transition: .3s all ease-in;

                &:hover {
                    transform: scale(1.1);
                }
            }

        }
    }
}

/* Keyframes for animations */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (max-width:992px) {
    .support-container {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 40px 0px;

        .support-row {
            width: 85%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            padding: 15px;
            border-radius: 10px;
            /* Replace with your image */
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;

            .support-card {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
        }
    }

}

@media (max-width:768px) {
    .support-container {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 40px 0px;

        .support-row {
            width: 85%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            /* Replace with your image */
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;

            .support-card {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
        }
    }

}

@media (max-width:480px) {
    .support-container {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 20px 0px;

        .support-row {
            width: 85%;
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 15px;
            border-radius: 10px;
            background-color: var(--menu-background-color);

            .support-card {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
        }
    }
}


// src/assets/scss/components/_buttons.scss
.btn {
    padding: 0.5rem 1rem;
    background-color: #26a69a;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: 0.3s all ease-in;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}