<header class="header" (click)="closeAll()">
    <div class="container">
        <!-- Logo -->
        <div class="logo">
            <a routerLink="/">Satendra <span>coder</span></a>
        </div>

        <!-- Center Nav Items -->
        <nav class="nav-items" (click)="$event.stopPropagation()">
            <!-- Grow-Learning -->
            <div class="nav-link dropdown-container" (click)="toggleMenu('learning')">
                Grow-Learning
                <i class="arrow" [class.rotate]="showMenu.learning"></i>
                <ul class="dropdown" *ngIf="showMenu.learning">
                    <li><a routerLink="/courses">Online Courses</a></li>
                    <li><a routerLink="/assessments">Skill Assessments</a></li>
                    <li><a routerLink="/tutorials">Tutorials Library</a></li>
                    <li><a routerLink="/interview">Online Interview</a></li>
                    <li><a routerLink="/quizzes">Free Quizzes</a></li>
                </ul>
            </div>

            <!-- Compilers -->
            <div class="nav-link dropdown-container" (click)="toggleMenu('compilers')">
                Compilers
                <i class="arrow" [class.rotate]="showMenu.compilers"></i>
                <ul class="dropdown" *ngIf="showMenu.compilers">
                    <li><a routerLink="/cpp">C++</a></li>
                    <li><a routerLink="/java">Java</a></li>
                    <li><a routerLink="/python">Python</a></li>
                </ul>
            </div>

            <!-- Normal Links -->
            <a class="nav-link" routerLink="/dev-tools">Dev Tools</a>
            <a class="nav-link" routerLink="/career-roadmaps">Career Roadmaps</a>
            <a class="nav-link" routerLink="/blog">Blog</a>
        </nav>

        <!-- Right Side -->
        <div class="right-actions" (click)="$event.stopPropagation()">
            <a class="ask-btn" routerLink="/ask-me-anything">Ask me Anything</a>

            <ng-container *ngIf="isLoggedIn; else loginBlock">
                <div class="user-box" (click)="toggleMenu('user')">
                    <img src="/assets/user.png" alt="user" />
                    {{ username }}
                    <i class="arrow" [class.rotate]="showMenu.user"></i>
                    <ul class="dropdown user-dropdown" *ngIf="showMenu.user">
                        <li><a routerLink="/dashboard">Dashboard</a></li>
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            </ng-container>

            <ng-template #loginBlock>
                <a class="login-btn" routerLink="/login">Login</a>
            </ng-template>
        </div>
    </div>
</header>