<aside class="sidebar" [class.collapsed]="!(sidebarOpen$ | async)">
    <nav class="nav-menu">
        <div class="menu-item" *ngFor="let item of menuItems" [class.active]="activeDropdown === item.id">

            <a *ngIf="!item.children" [routerLink]="item.route" class="menu-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <i [class]="'fas ' + item.icon"></i>
                <span class="menu-text">{{ item.label }}</span>
            </a>

            <div *ngIf="item.children" class="dropdown-menu-item">
                <button class="menu-button" (click)="toggleDropdown(item.id)">
                    <i [class]="'fas ' + item.icon"></i>
                    <span class="menu-text">{{ item.label }}</span>
                    <i class="fas fa-chevron-down dropdown-arrow" [class.rotated]="activeDropdown === item.id"></i>
                </button>

                <div class="submenu" [class.open]="activeDropdown === item.id" *ngIf="activeDropdown === item.id">
                    <a *ngFor="let child of item.children" [routerLink]="child.route" class="submenu-link"
                        routerLinkActive="active">
                        <i [class]="'fas ' + child.icon"></i>
                        <span class="submenu-text">{{ child.label }}</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</aside>